:root {
	// colors
	--clr-primary-700: hsl(322, 100%, 66%);
	--clr-primary-400: hsl(321, 100%, 78%);
	--clr-primary-300: hsl(0, 100%, 63%);

	--clr-neutral-700: hsl(192, 100%, 9%);
	--clr-neutral-400: hsl(210, 100%, 98%);
	--clr-neutral-300: hsl(209, 11%, 55%);

	--clr-white: hsl(0, 0%, 100%);

	// font families
	--ff-primary: 'Open Sans', sans-serif;
	--ff-secondary: 'Poppins', sans-serif;

	// spacing

	// stage
	--body: var(--clr-neutral-700);

	--stats-text: var(--clr-neutral-300);

	--btn-border: var(--clr-primary-700);
	--btn-text: var(--clr-primary-700);
	--btn-shadow: 0 0 0.9rem hsla(322, 100%, 66%, 0.22);

	--button: var(--clr-white);
	--bg-button: var(--clr-primary-700);
	--bg-button-hover: var(--clr-primary-400);
	--button-shadow: 0 0.6rem 1.3rem hsla(192, 100%, 9%, 0.22);

	--clr-facebook: hsl(220, 46%, 48%);
	--clr-instagram: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
	--clr-twitter: hsl(203, 89%, 53%);

	--error: var(--clr-primary-300);
}
