.btn {
	font-size: 1.2rem;
	text-transform: capitalize;
	line-height: 1.5;
	color: var(--btn);

	border: none;
	background: none;
	box-shadow: var(--btn-shadow-grayish);
	cursor: pointer;
	transition: border 0.25s ease-in-out, background-color 0.35s ease-in-out, color 0.35s ease-in-out;

	@media (min-width: $medium-bp) {
		font-size: 1.6rem;
	}

	&--transparent {
		--btn: var(--clr-primary-700);
		padding: 0.5em 2em;
		border: 1px solid var(--border-btn);
		box-shadow: var(--btn-shadow-pink);

		&:hover {
			--border-btn: var(--btn-hover);
			--btn: var(--btn-hover);
		}
	}

	&--round {
		border-radius: 50em;
	}

	&--primary {
		padding: 1em 3em;
		font-size: 1.4rem;
		font-weight: 700;
		background-color: var(--bg-btn);

		@media (min-width: $medium-bp) {
			padding: 1.25em 5em;
			font-size: 2rem;
		}

		&:hover {
			--bg-btn: var(--btn-hover);
		}
	}
}
