.contact {
	&__info {
		display: flex;

		&:not(:last-of-type) {
			margin-bottom: 1em;
		}
	}

	&__icon {
		margin-right: 1.6rem;
	}

	&__link {
		text-decoration: none;
		color: var(--clr-white);
		transition: opacity 0.35s ease-in-out;

		&:hover {
			opacity: 0.5;
		}
	}
}
