.footer {
	padding-block: clamp(7em, 20vw, 17em) clamp(3em, 10vw, 6.5em);
	color: var(--footer);
	background-color: var(--bg-footer);

	&__flex {
		display: flex;
		gap: 6.5em;

		@media (max-width: $small-bp) {
			flex-direction: column-reverse;
		}

		& > * {
			flex-grow: 1;
		}
	}

	&__text {
		margin-bottom: 3.6rem;
		max-width: 40ch;
		font-size: 1.4rem;
		line-height: 1.6;
	}

	&__logo {
		margin-bottom: clamp(1.6rem, 3vw, 3rem);
		max-width: 62.5%;

		@media (min-width: $small-bp) {
			max-width: 50%;
		}
	}
}
