.ready {
	padding-block: 5.25em 15.5em;
	text-align: center;

	@media (min-width: $small-bp) {
		padding-block: 10em 11.5em;
	}

	&__heading {
		margin-bottom: 5rem;
		font-size: clamp(2.4rem, 5vw, 4rem);

		@media (min-width: $small-bp) {
			margin-bottom: 4rem;
		}
	}
}
