.statistics {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 5.625em;

	@media (min-width: $small-bp) {
		flex-direction: row;
		justify-content: space-around;
		margin-bottom: 8.25em;
	}

	@media (min-width: $large-bp) {
		justify-content: space-between;
	}
}
